<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="consumerKey" value="8d25fce60055946ae5f7e1dff9a5b955"/>
    <add key="consumerSecret" value="0d89b50f8cc4ab5f"/>
    <add key="OAuthAccessToken" value="72157632734925979-90e9a569b563b919"/>
    <add key="OAuthAccessTokenSecret" value="8b330063711bb116"/>
    <add key="TwitterConsumerKey" value="JHPlyU7np5Q0Q5dXiYVZQ"/>
    <add key="FlickrConsumerKey" value="8d25fce60055946ae5f7e1dff9a5b955"/>
    <add key="FlickrConsumerSecret" value="0d89b50f8cc4ab5f"/>
    <add key="FlickrOAuthAccessToken" value="72157632734925979-90e9a569b563b919"/>
    <add key="FlickrOAuthAccessTokenSecret" value="8b330063711bb116"/>
    <add key="TwitterConsumerKey" value="JHPlyU7np5Q0Q5dXiYVZQ" />
    <add key="TwitterConsumerSecret" value="e6vURFcT29XFwVmnYgK3NuNHbAjJofIs18JU6DkGEc"/>
    <add key="TwitterAccessToken" value="755605352-XrDd2ByfTgixQGYCcVAOFQDEYLCOAtP5rz4IXY0"/>
    <add key="TwitterAccessSecret" value="o3m6CbYefsiAnAST5jrH9gkI90RsaqNYlaIDXhg9bk"/>
  </appSettings>
</configuration>